



@import url('https://fonts.googleapis.com/css?family=Creepster=swap');

body {

  background-image: url("https://raw.githubusercontent.com/EaRtHsWoRd/constellation/main/dark%20background.jpg");
  background-color: #cccccc;
}

.transcript {
  column-count: 3;
}
/*-------------------------------------DOES img img2 no dot WORK?----------------*/


img {
max-width: 100%;
  height: auto;
  border-radius: 5%;
}

img2 {
  border-radius: 5%;
}


/*------------------------------------red text box--*/
.redbox {
  background-color: red;
  color: white;
  border: 77px solid black;
  margin: 20px;
  padding: 20px;
}
/*------------------------------------white text box--*/
.whitebox {
max-width: 100%;
  background-color: white;
  color: red;
  border: 2px solid black;
  margin: 10px;
  padding: 3px;
}
/*------------------------------------black test box--*/
.blackbox {
  background-color: black;
  color: white;
  border: 2px solid grey;
  margin: 77px;
  padding: 40px;
}
/*------------------------------------Writing frame--*/
.vision {
  border: 6px outset red;
  background-color: black;    
  text-align: center;
}
/*------------------------------------text box--*/
div {
  background-image: url("https://raw.githubusercontent.com/EaRtHsWoRd/constellation/main/dark%20background.jpg");
  width: 777px;
  border: 77px solid red;
  padding: 77px;
  margin: 77px;
}
/*------------------------------------HEADERS--*/
h1 {
  	font-family: "Creepster", sans-serif;
	color: Grey;
	font-size: 40px;
 			
}
/*------------------------------------text box--*/
h2 {
	font-family: "Times New Roman", Times, serif;
	color: red;
	font-size: 30px;
}	
/*------------------------------------text box--*/		
h3 {
font-family: "Times New Roman", Times, serif;
  color: black;
	font-size: 20px;
}
/*------------------------------------text box--*/

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: Grey;
	font-size: 10px;
 	margin-left: 40px;
}
/*------------------------------------text box--*/
h5 {
  color: Grey;
	font-size: 5px;
 	margin-left: 40px;
}
	

  
  
