

<style>
/*------------------------------------text box--*/
/*------------------------------------background--*/
body {
background-color: red;
}
body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}

.transcript {
  column-count: 3;
}

/*------------------------------------red text box--*/
.redbox {
  background-color: red;
  color: white;
  border: 77px solid black;
  margin: 20px;
  padding: 20px;
}
/*------------------------------------white text box--*/
.whitebox {
  background-color: white;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 77px;
}
/*------------------------------------black test box--*/
.blackbox {
  background-color: black;
  color: white;
  border: 2px solid grey;
  margin: 77px;
  padding: 40px;
}
/*------------------------------------Writing frame--*/
.vision {
  border: 6px outset red;
  background-color: black;    
  text-align: center;
}
/*------------------------------------text box--*/
div {
  background-color: lightgrey;
  width: 777px;
  border: 77px solid red;
  padding: 77px;
  margin: 77px;
}
/*------------------------------------text box--*/
h1 {
  color: Grey;
	font-size: 40px;
 	margin-left: 10px;
}
/*------------------------------------text box--*/
h2 {
  color: red;
	font-size: 30px;
 	margin-left: 20px;
}	
/*------------------------------------text box--*/		
h3 {
  color: black;
	font-size: 20px;
 	margin-left: 40px;
}
/*------------------------------------text box--*/

h4 {
  color: Grey;
	font-size: 10px;
 	margin-left: 40px;
}
/*------------------------------------text box--*/
h5 {
  color: Grey;
	font-size: 5px;
 	margin-left: 40px;
}
		
		
  <\style>
 
		
	
  
  
