<style>

body{
  	background-color: Black;
}


.transcript {
  column-count: 3;
}

.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.paris {
  background-color: yellow;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.vision {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

h1 {
  color: White;
  margin-left: 20px;
}
h2 {
	color: navy
		
		
h3 {
  color: White;
  margin-left: 20px;
}
h4 {
	color: navyh1 {
  color: White;
  margin-left: 20px;
}
h5 {
	color: navy
		
h5 {
		
		
  <\style>
 
		
	
  
  
